.signup_background{
    background-color: #ebedf0;
}

.signup_body{
    margin: auto;
    /* border: 2px solid grey; */
    width: 34%;
    /* background-color: rgba(128, 128, 128, 0.466); */
}
.header{
    height: 11%;
    /* background-color: #1c1e21; */
    background-color: rgba(50, 70, 146, 0.801);
    padding-left: 13%;  
}
.header p{
    font-size: 3.6rem;
    color: white;
    font-weight: 500;
    padding-top: 1.5%;
    /* display: inline; */
}
.sub_header{
    font-size: 3.4rem;
    font-weight: 500;
    padding-left: 1%;
    color: #1c1e21;
}
.info{
    font-size: 1.2rem;
    color: gray;
    padding-left: 2%;
}
.signup_body div{
    display: inline-block;
    margin: 2%;
}
.signup_body div input{
    font-size: 1.4rem;
    display: inline-block;
}
/* .fname{
    display: inline-block;
} */
.login_btn{
    float: right;
    margin-top: -5.6%;
    margin-right: 15%;
    /* padding-bottom: 6%; */
}
.button_si{
    position: inherit;
}
.signup_btn{
    /* margin-left: 28%; */
    font-size: 1.4rem;
    font-weight: 600;
    /* padding-right: 3%;
    padding-left: 2%;   */
}
.err{
    border: 1px solid red;
}